body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
span{
    color: orange;
}
.first{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.half-width{
    width: 50%;
    padding: 30px;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 10px;
}
.second{
    display: flex;
}